@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body{
  font-family: 'Noto Sans TC', sans-serif;
  background-size: 40px 40px;
  background-image: 
  linear-gradient(to right,#25526e1a 1px,transparent 1px),
  linear-gradient(to bottom,#25526e1a 1px,transparent 1px),
  linear-gradient(to bottom,#FBF8F8 ,#FBF8F8);
}

.hero{
  height:100vh;
  max-height: 1080px;
  min-height: 680px;
}

.video_image{
  height: 250px;
}

@media (min-width: 568px){
  .hero {
    min-height: 800px;
    max-height: 850px;
  }

  .video_image{
    height: 300px;
  }
}

@media (min-width: 768px) {
  .hero {
    min-height: 950px;
    max-height: 1080px;
  }
  .video_image{
    height: 400px;
  }
}

@media (min-width: 992px){
  .hero{
    min-height: 700px;
    max-height: 800px;
    
  }

  .video_image{
    height: 600px;
  }
}

