@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body{
  font-family: 'Noto Sans TC', sans-serif;
  background-size: 40px 40px;
  background-image: 
  linear-gradient(to right,#25526e1a 1px,transparent 1px),
  linear-gradient(to bottom,#25526e1a 1px,transparent 1px),
  linear-gradient(to bottom,#FBF8F8 ,#FBF8F8);
}

.hero{
  height:100vh;
  max-height: 1080px;
  min-height: 680px;
}

.video_image{
  height: 250px;
}

@media (min-width: 568px){
  .hero {
    min-height: 800px;
    max-height: 850px;
  }

  .video_image{
    height: 300px;
  }
}

@media (min-width: 768px) {
  .hero {
    min-height: 950px;
    max-height: 1080px;
  }
  .video_image{
    height: 400px;
  }
}

@media (min-width: 992px){
  .hero{
    min-height: 700px;
    max-height: 800px;
    
  }

  .video_image{
    height: 600px;
  }
}

@media (min-width: 1280px){
  
  .video_image{
    height: 600px;
  }
}


#leaves_right{
  fill-opacity:0;
  stroke: #D5C5BD;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000;
  animation: dash 3s linear both;
  animation-iteration-count: 1;
}

@keyframes dash {
  0% {
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  } 
}
